.jumbotron
{
    background: #6D7993;
    color: white;
    padding-bottom: 80px;
}

.jumbotron p
{
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.navbar + .jumbotron
{
    margin-top: -20px;
}
