<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/deep4788/textToSpeech"><span class="glyphicon glyphicon-link"></span> Source on GitHub</a>
            </li>
        </ul>
    </div>
</nav>
